/* You can add global styles to this file, and also import other style files */

.eclipse_memory1 {
  background-image: url(assets/apps/eclipse-memory/images/bkg/eclipse_kenya.jpg);
}
.eclipse_memory2 {
  background-image: url(assets/apps/eclipse-memory/images/bkg/eclipse_corona1.jpg);
}
.eclipse_memory3 {
  background-image: url(assets/apps/eclipse-memory/images/bkg/eclipse_corona2.jpg);
}
